<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Predict</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="header">
      <p id="title">Predict</p>
    </div>
    <div id="form-wrapper">
      <div id="email-form">
        <fieldset>
          <form action="" class="pure-form" method="post">
            <input class="ghost-input" type="text" placeholder="Enter your email.." name="email" /><br>
            <button type="submit" class="ghost-button">Submit</button>
          </form>
        </fieldset>
      </div>
    </div>
  </body>
</html>